.menu{
    margin-left: 20px;
}

nav button{
    height: 40px;
    width: 200px;
    color: white;
}

.menu button:hover{
    background-color: gray;
}



ul{
    width: 200px;
    margin: 0px;
}

a{
    text-decoration: none;
    list-style: none;
    color: black;
}