table{
    margin-top: 50px;
    margin-bottom: 50px;
}

.columnaCantidad{
    display: flex;
}

.finalizarCompra{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.finalizarCompra p:hover{
    background-color: #a2b30bcf;
    transition: all .5s ease;
}

.finalizarCompra p{
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    text-align: center;
    justify-self: center;
    background-color: #e3fc02cf;
    transition: all .5s ease;
}

.tablaTotal{
    display: flex;
    justify-content: flex-end;
}

.total{
    width: 150px;
}

.totalMonto{
    width: 175px;
}