nav{
    background-color: rgb(66, 65, 65);
    
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 0px;
}

.li{
    color: white;
}

.li a{
    text-decoration: none;
    color: white;
}