nav{
    background-color: #242427;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
}

.botones{
    display: flex;
    margin-left: 20px;
}

nav .li{
    text-decoration: none;
    color: white;
    align-self: center;
    padding: 10px;
    width: 150px;  
}

.cartWidget{
    margin-right: 50px;
}




