.contenido{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    margin-top: 30px;
    align-items: center;
    justify-items: center;
}

.titulo{
    color: white;
    margin-top: 60px;
    margin-bottom: 60px;
}