.verDetalles p{
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 5px;
    width: 180px;
    text-align: center;
    justify-self: center;
    background-color: #e3fc02cf;
    transition: all .5s ease;
    
}

.verDetalles p:hover{
    background-color: #a2b30bcf;
    transition: all .5s ease;
}



.verDetalles{
    display: flex;
    justify-content: center;
}


